HELP.md

!.mvn/wrapper/maven-wrapper.jar

### STS ###
./AddressBook-Back/.apt_generated
./AddressBook-Back/.classpath
./AddressBook-Back/.factorypath
./AddressBook-Back/.project
./AddressBook-Back/.settings/
./AddressBook-Back/.springBeans
./AddressBook-Back/.sts4-cache
./AddressBook-Back/mvnw
./AddressBook-Back/target/
./AddressBook-Back/src/main/resources/application.yml
./AddressBook-Back/bin/
./AddressBook-Back/.mvn/
./AddressBook-Back/.mvnw.cmd

### IntelliJ IDEA ###
./AddressBook-Back/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

### GENERAL ### 
.DS_STORE
